<% if (page.source == 'index.md') { %>
<div id="home-page" class="body-content" role="main">
<% } else { %>
<div class="body-content" role="main">
<% } %>

    <%- page.content %>

    <% if (page.source == '/index.md') { %>
        <%- partial('sponsorsBrief') %>
    <% } else if (page.source == 'Sponsors/index.md') { %>
        <%- partial('sponsorsFull') %>
    <% } else if (page.source == 'Speakers/index.md') { %>
        <%- partial('speakerList') %>
    <% } else if (page.source == 'Schedule/index.md') { %>
        <%- partial('schedule') %>
    <% } %>


</div>