<% if (page.source == 'index.md') { %>
<div id="home-page" class="body-content" role="main">
<% } else { %>
<div class="body-content" role="main">
<% } %>

    <%- page.content %>

    <% if (page.source === 'index.md') { %>
        <%- partial('sponsorsBrief') %>
    <% } else if (page.source === 'sponsors/index.md') { %>
        <%- partial('sponsorsFull') %>
    <% } else if (page.source === 'speakers/index.md' || /^speakers\/\d{4}\.md$/.test(page.source)) { %>
        <%- partial('speakerList') %>
    <% } else if (page.source === 'sessions/index.md') { %>
        <%- partial('sessions') %>        
    <% } else if (page.source === 'schedule/index.md') { %>
        <%- partial('schedule') %>
    <% } %>


</div>