<section>

    <% 
        
    // Get the evals() out of the way since they are gross
    var scheduleData = eval("site.data.schedule" + config.currentYear + ".scheduledSessions");
    var sessionAndSpeakerData = eval("site.data.sessions" + config.currentYear);

    if(sessionAndSpeakerData && config.showSchedule) { %>
        <table id="scheduleTable" class="table table-striped table-condensed table-responsive">
                <thead>                
                    <tr>
                        <th>Time</th>
                        <th>Session</th>
                        <th>Speaker</th>
                        <th>Category</th>
                        <th>Room</th>
                        <% if(config.showSurveyOnSchedule) { %>
                            <th>Survey Link</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody> 

                <%
                // Categories are buried a layer
                var allCategories = sessionAndSpeakerData.categories.find(c => c.title === "Track").items;

                // If speaker surveys are turned on, get the ID of the Sessionize token to look for
                if(config.showSurveyOnSchedule) {
                    var surveyTokenSessionizeQuestionId = sessionAndSpeakerData.questions.find(x => x.question === config.surveyQuestionName).id;
                }

                for (var timeSlot of scheduleData.timeSlots ) { %>
                    <% for (var sessionSlot of timeSlot.sessions) { 
                        
                        // Search for the sessions id from the sessionize feed to match our session
                        var sessionInfo = sessionAndSpeakerData.sessions.find(x => x.id === sessionSlot.id.toString() );
                        
                        // Find the speaker sessionInfo
                        var allSpeakersInfo = sessionAndSpeakerData.speakers.filter(x => sessionInfo.speakers.includes(x.id))

                        // If surveys are turned on, generate this speaker's survey surveyUrl
                        var speakerSurveyUrl = "";
                        if(config.showSurveyOnSchedule && allSpeakersInfo && 
                            allSpeakersInfo[0] && 
                            allSpeakersInfo[0].questionAnswers && 
                            allSpeakersInfo[0].questionAnswers[0]) {
                                let speakerSurveyToken = allSpeakersInfo[0].questionAnswers.find(x => x.questionId === surveyTokenSessionizeQuestionId).answerValue;

                                if(speakerSurveyToken) speakerSurveyUrl = config.surveyUrl + speakerSurveyToken;
                        }

                    %>

                        <tr>
                            <td><%= timeSlot.time %></td>

                            <% // If there's a speaker, we can link to their session and get category info
                            var scheduledRoomName = sessionSlot.scheduledRoom;
                            if(scheduledRoomName !== "Concourse") {
                                scheduledRoomName += " Theater";
                            }

                            if(allSpeakersInfo.length > 0) { 
                                let createSpeakerUrl = (firstName, lastName) => {
                                    return `/speakers/${config.currentYear}/${firstName.replace(/[ \"]/g,"")}-${lastName.replace(/[ \"]/g,"")}.html`
                                }

                                // Store additional speakers if any
                                let allSpeakers = [];
                                allSpeakersInfo.forEach(speaker => {
                                    allSpeakers.push({
                                        firstName: speaker.firstName,
                                        lastName: speaker.lastName,
                                        speakerPageUrl: createSpeakerUrl(speaker.firstName, speaker.lastName)
                                    });
                                })
                            %>
                                <td>
                                    <a href="<%= allSpeakers[0].speakerPageUrl %>#abstract">
                                        <%= sessionInfo.title %>
                                    </a>
                                </td>
                                <td class="speaker-cell">
                                    <div>
                                        <% 
                                            allSpeakers.forEach(thisSpeaker => {
                                        %>
                                            <a href="<%= thisSpeaker.speakerPageUrl %>">
                                                <%= thisSpeaker.firstName + " " + thisSpeaker.lastName %>
                                            </a><br>
                                        <%
                                            })
                                        %>
                                    </div>
                                </td>

                                <% var thisCategory = allCategories.find(c => c.id === sessionInfo.categoryItems[0]); %>

                                <td><%= thisCategory.name %></td>
                                <td class="room-cell"><%= scheduledRoomName %></td>

                                <% if(config.showSurveyOnSchedule) { 
                                    if( speakerSurveyUrl.length) { %>
                                        <td><a href="<%= speakerSurveyUrl %>">Click Here</a></td>
                                    <% } else { %>
                                        <td></td>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <td><%= sessionInfo.title %></td>
                                <td class="speaker-cell">
                                <td></td>
                                <td class="room-cell"><%= scheduledRoomName %></td>
                                <% if(config.showSurveyOnSchedule) { %>
                                <td></td>
                                <% } %>
                            <% } %>
                        </tr>

                    <% } %>
                <% } %>
            </tbody>
        </table>
    <% } %>
</section>