<section>

    <% 
        
    // Get the evals() out of the way since they are gross
    var scheduleData = eval("site.data.schedule" + config.currentYear + ".scheduledSessions");
    var sessionAndSpeakerData = eval("site.data.sessions" + config.currentYear);

    if(sessionAndSpeakerData) { %>
        <table id="scheduleTable" class="table table-striped table-condensed table-responsive">
                <thead>                
                    <tr>
                        <th>Session</th>
                        <th>Speaker</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 

                <%
                // Categories are buried a layer
                var allCategories = sessionAndSpeakerData.categories.find(c => c.title === "Track").items;


                for (var sessionInfo of sessionAndSpeakerData.sessions ) {
                        // Find the speaker sessionInfo
                        var speakersInfo = sessionAndSpeakerData.speakers.filter(x => sessionInfo.speakers.includes(x.id))
                    %>

                        <tr>
                            <% // If there's a speaker, we can link to their session and get category info
                            if(speakersInfo.length > 0) { 
                                var firstSpeakerPageUrl = `/speakers/${config.currentYear}/${speakersInfo[0].firstName.replace(/[ \"]/g,"")}-${speakersInfo[0].lastName.replace(/[ \"]/g,"")}.html`;
                            %>
                                <td>
                                    <a href="<%= firstSpeakerPageUrl %>#abstract">
                                        <%= sessionInfo.title %>
                                    </a>
                                </td>
                                <td class="speaker-cell">
                                    <div>
                                        <%
                                        for(var thisSpeaker of speakersInfo) {
                                            var thisSpeakerPageUrl = `/speakers/${config.currentYear}/${thisSpeaker.firstName.replace(/[ \"]/g,"")}-${thisSpeaker.lastName.replace(/[ \"]/g,"")}.html`;

                                        %>
                                            <a href="<%= thisSpeakerPageUrl %>">
                                                <%= thisSpeaker.firstName.toLowerCase() + " " + thisSpeaker.lastName.toLowerCase() %>
                                            </a>
                                            <br/>
                                        <%
                                        }
                                        %>
                                    </div>
                                </td>

                                <% var thisCategory = allCategories.find(c => c.id === sessionInfo.categoryItems[0]); %>

                                <td><%= thisCategory.name %></td>
                            <% } else { %>
                                <td><%= sessionInfo.title %></td>
                                <td class="speaker-cell">
                                <td></td>
                            <% } %>

                        </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</section>