<div class="body-content" role="main">
        
        <style>
            .session-comic-grid {
                display: grid;
                width: 100%;

                grid-template-areas: 
                    "p1 p1 p2 p2 p2"
                    "p3 p3 p3 p4 p4"
                    "p3 p3 p3 p5 p5"
                    "p6 p6 p6 p5 p5";

                column-gap: 1em;
                row-gap: 1em;

            }

            .session-comic-grid div {
                align-items: center;
            }

            .session-grid-logo {
                grid-area: p1;
                align-content: center;
                display: grid;
            }

            .session-grid-title {
                grid-area: p2;
            }

            .session-grid-description {
                grid-area: p3;
            }

            .session-grid-avatar {
                grid-area: p5;
                align-content: center;
                display: grid;
            }

            .session-grid-name {
                grid-area: p4;
            }

            .session-grid-bio {
                grid-area: p6;
            }
        </style>

        <div class="session-comic-grid">
            <div class="comic-panel-body session-grid-logo">
                <img src="/images/stir-trek-comic-800x598.png" alt="Stir Trek logo" class="img-responsive">
            </div>

            <div class="comic-panel-body session-grid-title">
                <h1><%= page.title %></h1>
            </div>
        
            <div class="comic-panel-body session-grid-description">
                <%= page.description %>
            </div>

            <% firstSpeaker = page.speakers[0]; %>

            <div class="comic-panel-body session-grid-avatar">
                <img src="<%= firstSpeaker.profilePicture%>" class="img-responsive">
            </div>

            <div class="comic-panel-body session-grid-name">
                <%= firstSpeaker.firstName + " " + firstSpeaker.lastName %>
                <br>
                <%= firstSpeaker.tagLine %>               
            </div>

            <div class="comic-panel-body session-grid-bio">
                <%= firstSpeaker.bio %>
            </div>
        </div>

          
</div>