<div class="body-content" role="main">

    <div class="row">

        <div class="comic-panel-header offset comic-panel-highlighted">
            <%= page.firstName + " " + page.lastName %>
        </div>
        <div class="col-md-12 comic-panel-body with-header">
            <div class="col-md-4">
                <img src="<%= page.profilePicture %>" class="img-responsive">
            </div>

            <div class="col-md-8">
                <h2><%= page.tagLine %></h2>

                <div>
                    <%= page.bio %>
                </div>
            </div>
        </div>
    </div>
    <% for (var session of page.sessions) { %>
        <div class="row">
            <div class="comic-panel-header offset">
                <a name="abstract"></a>
                <%= session.title %>
            </div>
            <div class="col-md-12 comic-panel-body with-header">
                <%= session.description %>
            </div>     
        </div>
    <% } %>

    <style>
        .speakerComicStrip {
            display: grid;
            width: 100%;

            grid-template-areas:
                "header header header header header"
                "leftGutter avatar middleGutterV abstract rightGutter"
                "leftGutter middleGutterH middleGutterV abstract rightGutter"
                "leftGutter bio middleGutterV abstract rightGutter"
                "leftGutter bio middleGutterV middleGutterH2 rightGutter"
                "leftGutter bio middleGutterV empty rightGutter"
                "footer footer footer footer footer";

            grid-template-columns: 40px 2fr 40px 3fr 40px;
            grid-template-rows: 40px 1fr 40px 1fr 40px 1fr 40px;

            background-image: 
                linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
                ),url("/images/archive/GotG-Monster.png");
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        @media only screen and (max-width:990px) {
            .speakerComicStrip {
                grid-template-areas:
                    "header header header"
                    "leftGutter avatar rightGutter"
                    "leftGutter middleGutterH rightGutter"
                    "leftGutter bio rightGutter"
                    "leftGutter middleGutterH2 rightGutter"
                    "leftGutter abstract rightGutter"
                    "footer footer footer";

                grid-template-columns: 40px 1fr 40px;
                grid-template-rows: 40px 1fr 40px 1.5fr 40px 1.5fr 40px;
            }
        }

        .comicHeader, .comicFooter, .comicLeftGutter, .comicMiddleGutterH, .comicMiddleGutterH2, 
        .comicMiddleGutterV, .comicRightGutter {
            background-color: white;
        }

        .comicHeader {
            grid-area: header;
        }
        .comicFooter {
            grid-area: footer;
        }
        .comicLeftGutter {
            grid-area: leftGutter;            
        }
        .comicMiddleGutterH {
            grid-area: middleGutterH;            
        }        
        .comicMiddleGutterH2 {
            grid-area: middleGutterH2;            
        }  
        .comicMiddleGutterV {
            grid-area: middleGutterV;            
        }                
        .comicRightGutter {
            grid-area: rightGutter;            
        }
        .avatarPanel {
            grid-area: avatar;
        }

        .abstractPanel {
            grid-area: abstract;
        }

        .bioPanel {
            grid-area: bio;
        }

        .emptyPanel {
            grid-area: empty;
        }

        .speakerComicStrip .comic-panel-body {
            background: none;
            color: white;
        }

        .speakerComicStrip .speakerImage {
            border-radius: 50%;
            width: 40%;
            border: 6px solid #111c2e;
            display: inline-block;
            margin-right: 5%;
            margin-top: 5%;
        }

        .speakerComicStrip .speakerTagline {
            width: 40%;
            display: inline-block;
            vertical-align: middle;
        }

        .speakerComicStrip .speakerBio {
            margin-top: 5%;
        }
    </style>

    <div class="speakerComicStrip">
        <div class="comicHeader"></div>
        <div class="comicFooter"></div>
        <div class="comicLeftGutter"></div>
        <div class="comicMiddleGutterH"></div>
        <div class="comicMiddleGutterH2"></div>
        <div class="comicMiddleGutterV"></div>
        <div class="comicRightGutter"></div>
        <div class="avatarPanel comic-panel-body">
            <div class="comic-panel-header comic-panel-highlighted">
                <%= page.firstName + " " + page.lastName %>
            </div>
    

            <img src="<%= page.profilePicture %>" class="img-responsive speakerImage">

            <div class="speakerTagline">
                <h3><%= page.tagLine %></h3>
            </div>
        </div>
        <div class="bioPanel comic-panel-body">
                <%= page.bio %>
        </div>

        <div class="emptyPanel"></div>
            
        <div class="abstractPanel comic-panel-body">
            <% for (var session of page.sessions) { %>
                <h2><%= session.title %></h2>
                <br>
                <div>
                    <%= session.description %>
                </div>
            <% } %>
        </div>
    </div>
</div>