<div class="body-content" role="main">

    <style>
        .speakerAvatarBioStrip {
            display: grid;
            width: 100%;

            grid-template-areas:
                "avatar     bio         bio";

            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 40px;

            margin-bottom: 40px;
        }

        .speakerSessionStrip {
            display: grid;
            width: 100%;

            grid-template-areas:
                "abstract   abstract    time"
                "abstract   abstract    stirTrek";

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 40px;
            grid-row-gap: 40px;
        }

        @media only screen and (max-width:990px) {

            .speakerAvatarBioStrip,
            .speakerSessionStrip {
                display: block;
            }
        }

        .speakerAvatarBioStrip .comic-panel-body.avatarPanel {
            grid-area: avatar;
            background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
            color: black;

            text-align: center;
        }

        .speakerSessionStrip .abstractPanel {
            grid-area: abstract;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .speakerAvatarBioStrip .bioPanel {
            grid-area: bio;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .speakerSessionStrip .comic-panel-body.stirTrekPanel {
            grid-area: stirTrek;
            background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
        }

        .speakerSessionStrip .timeAndRoomPanel {
            grid-area: time;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .speakerAvatarBioStrip .comic-panel-body.avatarPanel,
        .speakerSessionStrip .comic-panel-body.stirTrekPanel {
            background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%),
                radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),
                radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%),
                radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),
                linear-gradient(40deg, #c48b2fb3 0, #f7c16ab3 30%, #dbab5bb3 50%, #dbab5bb3 70%, #c48b2fb3 100%);
        }

        .stirTrekPanelImage {
            background-image: url('/images/StirTrek-Emblem-Gold-400x588.png');
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .speakerAvatarBioStrip .comic-panel-body,
        .speakerSessionStrip .comic-panel-body {
            position: relative;
        }

        .speakerAvatarBioStrip .comic-panel-header,
        .speakerSessionStrip .comic-panel-header {
            position: absolute;
            top: -35px;
            left: -25px;
        }

        .speakerAvatarBioStrip .speakerImage {
            width: 80%;
            border-radius: 50%;
            border: 6px solid #111c2e;
            margin: 2em auto 0;
        }

        .speakerAvatarBioStrip .speakerTagline {
            vertical-align: middle;
        }

        .speakerAvatarBioStrip .speakerBio {
            margin-top: 5%;
        }


        @media only screen and (max-width:990px) {

            .speakerAvatarBioStrip .comic-panel-body,
            .speakerSessionStrip .comic-panel-body {
                border: 20px solid white;
                padding: 30px 20px;
                margin-bottom: 40px;
            }

            .speakerAvatarBioStrip .comic-panel-header,
            .speakerSessionStrip .comic-panel-header {
                top: -35px;
                left: -45px;
            }

            .speakerAvatarBioStrip .speakerImage {
                display: block;
                margin: 0px auto;
                margin-top: 2em;
            }

            .speakerAvatarBioStrip .speakerTagline {
                width: 100%;
                display: block;
                text-align: center;
            }

            .speakerSessionStrip .stirTrekPanel {
                display: none;
            }
        }
    </style>

    <div class="speakerAvatarBioStrip">
        <div class="avatarPanel comic-panel-body">
            <div class="comic-panel-header comic-panel-highlighted">
                <%= page.firstName + " " + page.lastName %>!
            </div>

            <div>
                <img src="<%= page.profilePicture %>" class="img-responsive speakerImage">
            </div>

            <div class="speakerTagline">
                <h3>
                    <%= page.tagLine %>
                </h3>
            </div>
        </div>
        <div class="bioPanel comic-panel-body">
            <div class="comic-panel-header comic-panel-highlighted">
                Bio!
            </div>

            <%= page.bio %>
        </div>

    </div>
    <a id="abstract"></a>
    <div class="speakerSessionStrip">
        <div class="abstractPanel comic-panel-body">
            <div class="comic-panel-header comic-panel-highlighted">
                Session!
            </div>
            <% for (let session of page.sessions) { %>
                <h2>
                    <%= session.title %>
                </h2>
                <br>
                <div>
                    <%= session.description %>
                </div>
                <% } %>
        </div>

        <div class="timeAndRoomPanel comic-panel-body">
            <div class="comic-panel-header comic-panel-highlighted">
                Where/When?
            </div>

            <% for (let session of page.sessions) { %>
                <% if(session.time && session.room) { %>
                    <h2>Time:<br>
                        <%= session.time %>
                    </h2>
                    <h2>Room:<br>
                        <%= session.room %>
                    </h2>
                    <% } else { %>
                        <h2>Schedule TBD</h2>
                        <% } %>

                            <% if(page.sessions.length> 1 && page.sessions.indexOf(session) != (page.sessions.length-1)
                                ) {%>
                                <br>
                                <% } %>
                                    <% } %>


        </div>

        <div class="stirTrekPanel comic-panel-body">
            <div class="stirTrekPanelImage"></div>
        </div>
    </div>
</div>