<div class="speakersContainer">
    <article class="row thinRow">

        <% for (var speaker of eval('site.data.sessions' + page.year + '.speakers') ) {
            
            // Clean special characters
            var firstName = speaker.firstName.replace(/[^a-zA-Z0-9-_\.]/g, '');
            var lastName = speaker.lastName.replace(/[^a-zA-Z0-9-_\.]/g, '');
            
        %>
            <div class="col-md-3">
                <div>
                    <a href="/Speakers/<%= page.year %>/<%= firstName + '-' + lastName %>.html">
                        <div>

                            <%
                                let fileExtensionRegex = /(?:\.([^.]+))?$/;
                                let fileExtension = fileExtensionRegex.exec(speaker.profilePicture)[1];
                                let profilePictureUrl = `/images/speakers/${page.year}/${firstName}-${lastName}.${fileExtension}`;
                            %>

                            <img class="img-responsive" src="<%= profilePictureUrl %>">
                        </div>
                    </a>
                </div>
                <div class="bio">
                    <h3>
                        <a href="/Speakers/<%= page.year %>/<%= firstName + '-' + lastName %>.html">
                            <%= speaker.firstName + " " + speaker.lastName %>
                        </a>
                    </h3>
                    <% 
                        var title = speaker.tagLine;
                        if(title.length > 50) {
                            title = title.slice(0,50) + "...";
                        }
                    %>
                    <strong><%= title %></strong>
                    <div class="text-muted">
                        <%
                            var bio = speaker.bio;
                            if(bio.length > 100) {
                                bio = bio.slice(0,100) + "...";
                            }
                        %>
                        <%= bio %>
                    </div>
                </div>
            </div>
        <% } %>
    </article>
</div>