
<% 

// Only render if there is sponsor data for this year
var thisYearsSponsors = eval(`site.data.sponsors${config.currentYear}.sponsors`);
if(typeof(thisYearsSponsors) === 'object' && thisYearsSponsors !== null)  { 
    
%>


    <!-- Sponsors -->
    <div id="allSponsorDetail">

        <% if(thisYearsSponsors.hasOwnProperty('platinum')) { %>
        <section>
            <div class="row">
                <% for (var sponsor of thisYearsSponsors.platinum ) {%>

                    <div class="col-md-6 sponsor sponsor-platinum">
                        <div class="comic-panel-body">
                            <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                            </a>
                        </div>
                        <div class="sponsorsAbout text-with-comic-panel">
                            <div class="sponsorCompany">
                                <%= sponsor.name %>
                                <br>
                                <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>"><%= sponsor.link %></a>
                                <% if(sponsor.longDescription) { %>
                                    <div class="description longDescription">
                                <% } else { %>
                                    <div class="description">
                                <% } %>
                                    <%= sponsor.description %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <% } %>
            </div>
        </section>
        <% } %>
        <% if(thisYearsSponsors.hasOwnProperty('gold')) { %>
        <section>
            <div class="row">

                <% for (var sponsor of thisYearsSponsors.gold ) {%>

                    <div class="col-md-4 sponsor sponsor-gold">
                        <div class="comic-panel-body">
                            <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                            </a>
                        </div>
                        <div class="sponsorsAbout text-with-comic-panel">
                            <div class="sponsorCompany">
                                <%= sponsor.name %>
                                <br>
                                <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>"><%= sponsor.link %></a>
                                <% if(sponsor.longDescription) { %>
                                    <div class="description longDescription">
                                <% } else { %>
                                    <div class="description">
                                <% } %>
                                    <%= sponsor.description %>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    
                <% } %>
            </div>
        </section>
        <% } %>
        <% if(thisYearsSponsors.hasOwnProperty('silver')) { %>        
        <section>
            <div class="row">

                <% for (var sponsor of thisYearsSponsors.silver ) {%>

                    <div class="col-md-3 sponsor sponsor-silver">
                        <div class="comic-panel-body">
                            <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                            </a>
                        </div>
                        <div class="sponsorsAbout text-with-comic-panel">
                            <div class="sponsorCompany">
                                <%= sponsor.name %>
                                <br>
                                <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>"><%= sponsor.link %></a>
                                <% if(sponsor.longDescription) { %>
                                    <div class="description longDescription">
                                <% } else { %>
                                    <div class="description">
                                <% } %>
                                    <%= sponsor.description %>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    
                <% } %>
            </div>
        </section>
        <% } %>
        <% if(thisYearsSponsors.hasOwnProperty('bronze')) { %>        
        <section>
            <div class="row">

                <% for (var sponsor of thisYearsSponsors.bronze ) {%>

                    <div class="col-md-3 sponsor sponsor-bronze">
                        <div class="comic-panel-body">
                            <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                            </a>
                        </div>
                        <div class="sponsorsAbout text-with-comic-panel">
                            <div class="sponsorCompany">
                                <%= sponsor.name %>
                                <br>
                                <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>"><%= sponsor.link %></a>
                                <% if(sponsor.longDescription) { %>
                                    <div class="description longDescription">
                                <% } else { %>
                                    <div class="description">
                                <% } %>
                                    <%= sponsor.description %>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    
                <% } %>
            </div>
        </section> 
        <% } %>       
    </div>

<% } %>