
<% 

// Only render if there is sponsor data for this year
var thisYearsSponsors = eval(`site.data.sponsors${config.currentYear}.sponsors`);
if(typeof(thisYearsSponsors) === 'object' && thisYearsSponsors !== null)  { 
    
%>


    <!-- Sponsors -->
    <div id="allSponsorDetail">
        <% ["platinum", "gold", "silver", "bronze"].forEach(sponsorTier => {
            if(thisYearsSponsors.hasOwnProperty(sponsorTier)) { %>
                <section>
                    <div class="row">
                        <% for (var sponsor of thisYearsSponsors[sponsorTier] ) {%>
        
                            <%
                                let bootstrapColumnWidth;
                                switch(sponsorTier) {
                                    case "platinum":
                                        bootstrapColumnWidth = 6;
                                        break;
                                    case "gold":
                                        bootstrapColumnWidth = 4;
                                        break;
                                    default:
                                        bootstrapColumnWidth = 3;
                                        break;
                                }
                            %>

                            <div class="col-md-<%= bootstrapColumnWidth %> sponsor sponsor-<%=sponsorTier%>">
                                <div class="comic-panel-body">
                                    <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                        <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                                    </a>
                                </div>
                                <div class="sponsorsAbout text-with-comic-panel">
                                    <div class="sponsorCompany">
                                        <%= sponsor.name %>
                                        <br>
                                        <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>"><%= sponsor.link %></a>
                                        <% if(sponsor.longDescription) { %>
                                            <div class="description longDescription">
                                        <% } else { %>
                                            <div class="description">
                                        <% } %>
                                            <%= sponsor.description %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </section>
            <% } %>
        <% }) %>   
    </div>

<% } %>