<% 

// Only render if there is sponsor data for this year
var thisYearsSponsors = eval(`site.data.sponsors${config.currentYear}.sponsors`);
if(typeof(thisYearsSponsors) === 'object' && thisYearsSponsors !== null)  { 
    
%>

    <!-- Sponsors -->
    <div class="row">
        <div class="col-md-6">
            <div class="comic-panel-header"><%= config.currentYear %> Sponsors</div>
        </div>

        <div class="col-md-12">
            <div class="text-with-comic-panel">
                This year isn't going to be like any other year. We said that last year and it's still true! Thank you to our great sponsors for making it possible!
                <br>Interested in exploring sponsorship opportunities? Email us:
                <a href="mailto:info@stirtrek.com?subject=[Stir%20Trek]%20Question%20ref:site">info@stirtrek.com</a>
            </div>
        </div>
    </div>

    <% ["platinum", "gold", "silver", "bronze"].forEach(sponsorTier => {
        if(thisYearsSponsors.hasOwnProperty(sponsorTier)) { %>
            <section>
                <div class="row">
                    <% for (var sponsor of thisYearsSponsors[sponsorTier] ) {%>
    
                        <%
                            let bootstrapColumnWidth;
                            switch(sponsorTier) {
                                case "platinum":
                                    bootstrapColumnWidth = 6;
                                    break;
                                case "gold":
                                    bootstrapColumnWidth = 4;
                                    break;
                                default:
                                    bootstrapColumnWidth = 3;
                                    break;
                            }
                        %>

                        <div class="col-md-<%=bootstrapColumnWidth%> sponsor sponsor-<%=sponsorTier%>">
                            <div class="comic-panel-body">
                                <a href="<%= sponsor.link %>" aria-label="Takes you to the homepage of <%= sponsor.name %>">
                                    <img class="img-responsive" src="<%= sponsor.logo %>" title="<%= sponsor.description %>" alt="Company logo for <%= sponsor.name %>">
                                </a>
                            </div>
                            <div class="sponsorsAbout text-with-comic-panel">
                                <div class="sponsorCompany">
                                    <%= sponsor.name %>
                                </div>
                            </div>
                        </div>
                            
                    <% } %> 
                </div>
            </section>                        
        <% } %>
    <% }) %>
<% } %>