<section>
    <style>
        iframe {
            margin-right: 30px;
            margin-bottom: 35px;
        }
        .virtualSessionRow {
            font-size: 0px;
        }
        .virtualSessionRow p {
            font-size: 12px;
        }
    </style>
    <% 
        
    // Get the evals() out of the way since they are gross
    var scheduleData = eval("site.data.schedule" + config.currentYear + ".scheduledSessions");
    var sessionAndSpeakerData = eval("site.data.sessions" + config.currentYear);

    if(sessionAndSpeakerData && config.showSchedule) {
        // Categories are buried a layer
        var allCategories = sessionAndSpeakerData.categories.find(c => c.title === "Track").items;

        for (var timeSlot of scheduleData.timeSlots ) { %>
            <div class="row virtualSessionRow">
                <div class="col-md-12">
                    <div class="comic-panel-header offset comic-panel-gold">
                        <%= timeSlot.time %>
                    </div>
                    <div class="comic-panel-body with-header" style="font-size: 0;">                
                        <% for (var sessionSlot of timeSlot.sessions) { 
                            
                            // Search for the sessions id from the sessionize feed to match our session
                            var sessionInfo = sessionAndSpeakerData.sessions.find(x => x.id === sessionSlot.id.toString() );
                            
                            // Find the speaker sessionInfo
                            var allSpeakersInfo = sessionAndSpeakerData.speakers.filter(x => sessionInfo.speakers.includes(x.id))

                            if(allSpeakersInfo.length > 0) { 
                                let createSpeakerUrl = (firstName, lastName) => {
                                    return `/speakers/${config.currentYear}/${firstName.replace(/[ \"]/g,"")}-${lastName.replace(/[ \"]/g,"")}.html`
                                }

                                // Store additional speakers if any
                                let allSpeakers = [];
                                allSpeakersInfo.forEach(speaker => {
                                    allSpeakers.push({
                                        firstName: speaker.firstName,
                                        lastName: speaker.lastName,
                                        speakerPageUrl: createSpeakerUrl(speaker.firstName, speaker.lastName)
                                    });
                                })
                        %>
                                <div style="display: inline-block; vertical-align: top;">
                                    <iframe width="224" height="126" 
                                        src="https://www.youtube-nocookie.com/embed/OsULvjLTyXw" 
                                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/OsULvjLTyXw?autoplay=1><img src=https://img.youtube.com/vi/OsULvjLTyXw/hqdefault.jpg><span>▶</span></a>"
                                        title="YouTube video player" frameborder="0" 
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <br>
                                    <p>                                        
                                        <a href="<%= allSpeakers[0].speakerPageUrl %>#abstract">
                                            <%= sessionInfo.title %>
                                        </a>
                                        <% 
                                            allSpeakers.forEach(thisSpeaker => {
                                        %>
                                            <a href="<%= thisSpeaker.speakerPageUrl %>">
                                                <%= thisSpeaker.firstName + " " + thisSpeaker.lastName %>
                                            </a><br>
                                        <% var thisCategory = allCategories.find(c => c.id === sessionInfo.categoryItems[0]); %>
                                        <%= thisCategory.name %>
                                        <% }); %>
                                    </p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</section>